django
djangorestframework
markdown
django-filter
pyjwt
mysqlclient>=1.4.6
pycryptodome
pycryptodomex
numpy
pandas
redis
python-decouple
requests
python-cron
django-cors-headers
django_redis
django-redis
pyshorteners