/.idea/
/project/__pycache__/
/app/__pycache__/
/app/configs/__pycache__/
/app/migrations/
/app/core/helpers/__pycache__/
/app/http/middlewares/__pycache__/
/app/http/models/__pycache__/
/app/http/paginations/__pycache__/
/app/http/serializers/__pycache__/
/app/http/views/__pycache__/
app/http/entities/__pycache__/
app/core/entities/__pycache__/
/autorun.bat
/shell.bat
/venv/
venv/Lib/
app/http/validations/__pycache__/
/.gitlab-ci.yml
/set-env-local.bat
